# Godot 4+ specific ignores
.godot/
/android/
.vscode/

# Editor backups and native-library reload files
*.tscn*.tmp
*.csproj.old*
~*.dll
~*.TMP
~*.tmp

# Dario doesn't want this
stored.txt
stored.cfg
api_steam.key
/addons/editorscriptmanager/
/addons/ridiculous_coding/
export_presets.cfg

twitch_oauth_setting.tres
twitch_oauth_token.tres
