# Godot 4+ specific ignores
.godot/
/android/
.vscode/


# Dario doesn't want this
~*.dll
~*.TMP
stored.txt
stored.cfg
api_steam.key
/addons/editorscriptmanager/
/addons/ridiculous_coding/
export_presets.cfg

twitch_oauth_setting.tres
twitch_oauth_token.tres
